<template>
  <router-link :to="{
    name: 'article',
    params: { id: article._id },
    }">
    <article class="article-title">
      <h5>{{ article.title }}</h5>
      <p v-html="article.summary"></p>
    </article>
  </router-link>
</template>
<script>
export default {
  name: "",
  props: ['article'],
  data: () => ({

  })
}
</script>
<style>
a {
  text-decoration: none;
  color: inherit;
}
h5 {
  color: #1aaae9;
  font-size: 2em;
  transition: 0.3s all;
  margin: 0.3em 0;
}

article {
  padding: 0.5em 1em;
  transition: 0.3s all;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fff;
}

article:hover h5 {
  color: #1077a5;
}

article:hover {
  box-shadow: 0px 0px 3px 1px #ccc;
}

.cat {
  margin-right: 2px;
  font-size: 0.9em;
}
</style>
