<template>
  <header id="header">
    <div class="main-container header-container">
      <router-link :to="{ name: 'home' }">
        <img class="logo" alt="Vue logo" src="../assets/logo.svg">
      </router-link>
    </div>
  </header>
</template>
<script>
export default {
  name: "header-component",
  data: () => ({

  })
}
</script>
<style>
#header  {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px #ccc;
}

.logo {
  width: 55px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
}
</style>
