
html, body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 50px;
  background-color: #f0f0f0;
  color: #2e2e2e;
}

p {
  margin: 0;
}

.main-container {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
}

.loading {
  text-align: center;
  margin-top: 30px;
}

.button {
  border: 1px solid #929292;
  border-radius: 4px;
  background-color: #d8d8d8;
  padding: 10px 15px;
  color: #000;
  transition: 0.3s all;
  cursor: pointer;
}

.ta-r {
  text-align: right;
}
