<template>
  <div id="article" class="main-container">
    <div v-if="loading" class="loading">
      <loader />
    </div>
    <article v-else class="article-title">
      <h5>{{ article.title }}</h5>
      <p v-html="article.description"></p>
    </article>
    <div class="ta-r">
      <button
        class="button red-button"
        @click="deleteArticle"
        >
        Supprimer
      </button>
    </div>
  </div>
</template>
<script>
import Loader from "@/components/Loader.vue";
import axios from "axios";

export default {
  name: "article-component",
  components: {
    Loader
  },
  data() {
    const id = this.$route.params.id;
    return {
      id,
      article: null,
      loading: true
    }
  },
  methods: {
    async getArticle() {
      const res = await axios.get(`http://localhost:3000/article/${this.id}`);

      if (res.status === 200) {
        this.article = res.data;
      }

      this.loading = false;
    },
    async deleteArticle() {
      const res = await axios.delete(`http://localhost:3000/article/${this.id}`);
      if (res.status === 200) {
        this.$router.push({ name: 'home' });
      }
    }
  },
  mounted() {
    this.getArticle();
  }
}
</script>
<style>
.red-button {
  border: 1px solid #da2828;
  color: #da2828;
}
.red-button:hover {
  background-color: #da2828;
  color: #fff;
}
</style>
