<template>
  <div class="main-container home">
    <ArticleTitle
      v-for="article of articles"
      :key="article._id"
      :article="article"
    />
    <div v-if="loading" class="loading">
      <Loader />
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import ArticleTitle from '@/components/ArticleTitle.vue';
import Loader from '@/components/Loader.vue';

export default {
  name: 'home',
  components: {
    ArticleTitle,
    Loader
  },
  data() {
    return {
      articles: [],
      page: 1,
      limit: 10,
      loading: true,
      end: false
    }
  },
  methods: {
    async getArticles() {
      const res = await axios.get(
        `http://localhost:3000/article?limit=${this.limit}&page=${this.page}`
      );
      this.loading = false;
      if (res.status === 200) {
        if (!res.data.length)
          return this.end = true;
        this.articles.push(...res.data);
      }
    },
    async scroll() {
      window.onscroll = () => {
        if (this.loading || this.end) return;

        let btm = document.documentElement.scrollTop + window.innerHeight + 100;
        if (btm >= document.documentElement.offsetHeight) {
          this.loading = true;
          this.page++;
          this.getArticles();
        }
      }
    },
  },
  created() {
    this.getArticles();
  },
  mounted() {
    this.scroll();
  },
  beforeDestroy() {
    window.onscroll = null;
  }
}
</script>
<style>
</style>
